/* CSS Document */
#desplegable
{position:absolute; left: 289px; top: 262px; z-index:30}
#desplegable li
{  margin-top:0px;
padding-top:11px;
padding-bottom:11px;
background-image:url(img_disseny_web/img_menu_pagines_web/boto_gris.jpg);
width:137px;
height:16px;
position:relative;}
#desplegable li:hover
{    background-image:url(img_disseny_web/img_menu_pagines_web/boto_gris_fosc.jpg);
}
#desplegable li li
{  margin-top:0px;
padding-top:11px;
padding-bottom:11px;
/*background-image:url(img_disseny_web/img_menu_pagines_web/boto_gris.jpg);*/
background-image:none;
background-color:#E0E0E0;
width:137px;
height:16px;
border-top:2px solid #FFFFFF;
border-bottom:0px solid #FFFFFF;
border-left:10px solid #FFFFFF;
border-right:10px solid #FFFFFF;
margin-left:-10px
}
#first
{ margin-top: -1px
}
#first_vermell
{  margin-top: -1px;
border-bottom:0px solid #FFFFFF;
border-left:10px solid #ffffff;
border-right:10px solid #FFFFFF;
width:137px;
margin-left:-10px;
}
#first_vermell .in_first_vermell,
#first_vermell .in_first_vermell:hover
{background-image:url(img_disseny_web/img_menu_pagines_web/boto_tronja.jpg);
color:#FFFFFF}
#midle_vermell
{  border-bottom:0px solid #FFFFFF;
border-left:10px solid #ffffff;
border-right:10px solid #FFFFFF;
width:137px;
margin-left:-10px;
}
#midle_vermell .in_midle_vermell,
#midle_vermell .in_midle_vermell:hover
{background-image:url(img_disseny_web/img_menu_pagines_web/boto_tronja.jpg);
color:#FFFFFF}
#last
{  border-bottom:10px solid #FFFFFF;
border-left:10px solid #FFFFFF;
border-right:10px solid #FFFFFF;
width:137px;
margin-left:-10px
}
#last_vermell
{  border-bottom:10px solid #FFFFFF;
border-left:10px solid #ffffff;
border-right:10px solid #FFFFFF;
width:137px;
margin-left:-10px;
}
#last_vermell .in_last_vermell,
#last_vermell .in_last_vermell:hover
{background-image:url(img_disseny_web/img_menu_pagines_web/boto_tronja.jpg);
color:#FFFFFF}
#desplegable li a
{color:#000000;
}
/* amagar submenus*/
ul.menu_color
{
list-style:none;
text-align:center;
margin:0px
padding:0px;
}
ul.menu_color ul /* Para todos los ul debajo del ul.menu */
{
display:none;
list-style:none;
margin-left:-40px;
padding-top:10px
}
/* mostrar submenus quan fas hover al li corresponent*/
/* Esto afecta a todos los ul inmediatamente debajo (el > ) de un li que a su vez esté dentro de un ul.menu */
ul.menu_color li:hover &gt; ul
{
display:block;
}
